@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a; /* Koyu Lacivert Arkaplan */
  color: white;
  font-family: 'Inter', sans-serif;
}

/* Scrollbar (Kaydırma Çubuğu) Güzelleştirme */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1e293b;
}
::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f59e0b;
}